* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    overflow-x:hidden;
    margin: 0;
    padding: 0px;
}

.bannerwrapper {

    background-color: #333;
    width: 100%;
    padding 10px;
    top: 0px;
}

.banner {
    padding 20px;
}

h1 {
    padding: 10px;
}

#quote {
    padding: 10px;
}

.navlinks {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}


nav a:hover {
    background-color: #A9A9A9;
    color: black;
}

nav {
    text-align: center;
    padding: 14px 16px;
}


.wrap {
    display: flex;
    justify-content: center;
}

.block1 {
    margin-top: 20px;
}

.block2 {
    padding-left: 10px;
}

img {

}

#cute {
    margin-bottom: 22px;
}

.tablestyle {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tablestyle th, .tablestyle td {
    padding: 12px 15px;
}
table, th, td {
    border: 1px solid black;
    border-bottom: 2px solid black;
}

th, td {
    padding: 2px;
}

.tattribute {
    background-color: #333;
    color: #ffffff;
    text-align: left;
}

h1 {text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    color: white;
}

p {
    padding: 10px;
}


#quote {text-align: center;
        margin-top: 0;
        color: white;
}

}


#count {
    margin-top: 0;
    padding-top: 0;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #333;
    width: 100%;
}

footer a {
    text-decoration: none;
    color:white;
}

footer a:hover {
    background-color: #A9A9A9;
    color: black;
}

#links {
    
    text-align: center;
    padding: 10px 12px;
    font-size: 17px;
}