body {
    background-color: 	#FBEEC1;
    overflow-x:hidden;
    margin: 0;
}

.banner {
    background-color: #659DBD;
    width: 100%;

}

.navbar {
    text-decoration: none;
}

.navbar a:hover {
    background-color: #A9A9A9;
    color: black;
}

nav {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}
.wrap {
    display: flex;
    justify-content: center;
}

.block1 {
    margin-top: 20px;
}

.block2 {
    padding-left: 10px;
}

img {

}

#cute {
    margin-bottom: 22px;
}
table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

h1 {text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

#quote {text-align: center;
        margin-top: 0;
}

}
#list {
    margin-bottom: 0;
}

#count {
    margin-top: 0;
    padding-top: 0;
}

#links {
    
    text-align: center;
}